{% extends 'dashboard/base.html' %}

{% block title %}
  stock
{% endblock %}

{% block content %}
  <div>
    <header class="flex justify-between">
      <div>
        <strong>DASHBOARD</strong>
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        STOCK
      </div>
      <div>
        <a href="/dashboard/stock/create/">
          <button class="px-4 py-1 rounded bg-orange-600 text-orange-100 hover:bg-orange-700">New</button>
        </a>
      </div>
    </header>
    {% comment %} messages {% endcomment %}
    <div class="my-4">
      {% include 'messages.html' %}
    </div>

    {% comment %} body goes here {% endcomment %}
    {% include 'product/index.html' %}
  </div>
{% endblock %}
