{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'tailwindcss.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'chart.umd.js' %}"></script>
  </head>
  <body class="bg-slate-800 text-gray-400">
    <div class="grid grid-cols-12">
      <div class="col-span-1 min-h-screen bg-slate-900 ">{% include 'dashboard/leftbar.html' %}</div>

      <div class="col-span-11 min-h-screen bg-slate-800">
        <header>{% include 'dashboard/header.html' with user=request.session.username %}</header>
        <main class="px-5 my-5">{% block content %} {% endblock %}</main>
      </div>
    </div>
  </body>
</html>
