<nav class="sticky top-0">
  <div class="bg-slate-800 shadow border-b border-gray-700 px-5 py-2">
    <div class="flex justify-between items-center">
      <div class="w-1/3">
        <a href="/dashboard/" class="font-bold text-xl">STOCK<span class="text-orange-400">WISE</span></a>
      </div>
      <div class="w-1/3 hidden md:block">
        <form action="{% url 'search' %}" method="get" class="relative w-100">
          <input name="search" type="text" placeholder="Search here..." class="py-1 px-5 rounded-full w-full border border-slate-600 pr-12 bg-slate-700" />
          {% csrf_token %}
          <button class="absolute right-4 top-1 hover:text-red-100">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <div id="ddContainer" class="flex items-center relative">
        <h1 id="ddToggler" class="uppercase text-white font-semibold cursor-pointer flex items-center gap-2">
          <i class="fa fa-user-o text-2xl text-orange-400" aria-hidden="true"></i>
          {{ user }}
        </h1>

        <div id="ddContent" class="absolute top-[35px] w-[100px] right-[0px] bg-slate-900 shadow-xl border border-gray-600 p-3 rounded">
          <ul class="space-y-1">
            <li>
              <a href="{% url 'setting.index' %}" class="hover:text-white"><i class="fa fa-cog" aria-hidden="true"></i> setting</a>
            </li>
            <li>
              <a href="{% url 'report.index' %}" class="hover:text-white"><i class="fa fa-book" aria-hidden="true"></i> Report</a>
            </li>
            <li>
              <a href="/signout" class="hover:text-white"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const toggler = document.querySelector('#ddToggler')
  const container = document.querySelector('#ddContainer')
  const content = document.querySelector('#ddContent')
  
  content.classList.add('hidden')
  toggler.addEventListener('click', () => {
    content.classList.toggle('hidden')
  })
</script>
