<aside>
  <div>
    <div>
      <ul class="flex justify-around flex-col items-center min-h-screen">
        <li>
          <a href="/dashboard/" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-dashboard text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/categories" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa fa-cubes text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Categories</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/stock/" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-briefcase text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Stock</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/outgoing/" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-briefcase text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Outgoing</span>
          </a>
        </li>

        <li>
          <a href="/dashboard/expired/" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-hourglass-end text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Expired</span>
          </a>
        </li>

        <li>
          <a href="{% url 'report.index' %}" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-book text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Report</span>
          </a>
        </li>

        <li>
          <a href="{% url 'setting.index' %}" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-cog text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Settings</span>
          </a>
        </li>

        <li>
          <a href="/signout/" class="w-[90px] flex flex-col items-center hover:bg-slate-800 rounded-xl p-3 hover:text-orange-400">
            <i class="fa fa-sign-out text-2xl" aria-hidden="true"></i>
            <span class="text-xs">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
