{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block title %}
  outgoing
{% endblock %}

{% block content %}
  <header class="flex justify-between">
    <div>
      <strong>DASHBOARD</strong>
      <i class="fa fa-caret-right" aria-hidden="true"></i>
      EXPIRED
    </div>
  </header>

  <div class="my-3">
    {% include 'messages.html' %}
  </div>

  <div class="my-5">
    {% if not expirables %}
      <div class="bg-gray-700 rounded p-2">No expired products available</div>
    {% else %}
      <div class="bg-slate-900 shadow rounded p-3">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">expiration date</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Product name</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Product Category</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Product quantity</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Product price</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Date in</th>
              <th class="text-start border border-gray-700 px-2 py-1 uppercase">Owner</th>
            </tr>
          </thead>
          <tbody>
            {% for expired in expirables %}
            {% if expired.product.creator == request.user %}
              {% if not expired.quantity == 0 %}
                <tr>
                  <td class="text-start border border-gray-700 px-2">{{ expired.product.expirationDate }}</td>
                  <td class="text-start border border-gray-700 px-2">
                    <span class="capitalize">
                      {% if 'exported#' in expired.product.name %}
                        {{ expired.product.name|slice:'9:' }}
                      {% else %}
                        {{ expired.product.name }}
                      {% endif %}
                    </span>
                  </td>
                  <td class="text-start border border-gray-700 px-2">{{ expired.product.category.title }}</td>
                  <td class="text-start border border-gray-700 px-2">{{ expired.quantity }}</td>
                  <td class="text-start border border-gray-700 px-2">{{ expired.product.price|intcomma }} RWF</td>
                  <td class="text-start border border-gray-700 px-2">{{ expired.product.inDate }}</td>
                  <td class="text-start border border-gray-700 px-2">
                    <a href="/dashboard/user/{{ expired.product.creator.id }}/view" class="hover:text-orange-400">
                      <span class="uppercase">{{ expired.product.creator.first_name }}</span>
                      <span class="capitalize">{{ expired.product.creator.last_name }}</span>
                    </a>
                  </td>
                </tr>
              {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  <script>
    //expired/<int:id>
    const confirmDelete = (id) => {
      if (confirm('Are you sure to delete this record?')) {
        window.location = `/dashboard/expired/${id}`
      }
    }
  </script>
{% endblock %}
