{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="{% static 'tailwindcss.js' %}"></script>
  </head>
  <body class="text-gray-300 bg-gray-800">
    
    {% include 'header.html' %}

    <main class="px-10">
        {% block content %}{% endblock %}
    </main>
        
  </body>
</html>
