<nav class="py-6 px-10 shadow border-b bg-gray-900 border-gray-700">
    <div class="flex justify-between items-center">
      <div  class="w-1/3">
        <a href="/" class="font-bold text-xl">STOCK<span class="text-orange-400">WISE</span></a>
      </div>
      <div class="w-1/3 hidden md:block">
          <input type="text" placeholder="Search here..." class="py-1 px-5 rounded-full w-100 border border-gray-600 bg-gray-700">
      </div>
      <div class="flex">
        <a href="/signup">
          <button class="px-5 md:px-10 py-2 rounded-full hover:bg-orange-700 text-white font-bold">SIGNUP</button>
        </a>
        <a href="/signin">
          <button class="px-5 md:px-10 py-2 rounded-full hover:bg-orange-700 text-white font-bold">SIGNIN</button>
        </a>
      </div>
    </div>
  </nav>