{% extends 'base.html' %} {% load static %} {% block content %}

<div class="my-5">
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10">
    <div class="flex items-center">
      <div class="grid grid-cols-1 gap-5 md:gap-12">
        <h1 class="text-4xl md:text-5xl lg:text-7xl text-gray-300 mb-3 font-semibold">
          Stock Management Information System
        </h1>
        <p class="text-gray-400 mb-3">
          Stock MIS refers to a Stock Management Information System. It is a
          software tool that is used to manage and monitor stocks, inventory,
          and supply chain activities of a business. A Stock MIS is designed to
          track the movement of stocks, monitor the stock levels, and generate
          reports that help in decision making.
        </p>
      </div>
    </div>
    <div>
      <img
        class="max-h-[500px] rounded-2xl"
        src="{% static 'illustration.avif' %}"
        alt=""
      />
    </div>
  </div>
</div>

{% endblock %}
